<!--<div class='row'>

            <nav-menu></nav-menu>


    </div>-->

    <!--<div class='row' style="height:100px">

        <div class='col-sm-12 body-content'>
            <nav-menu></nav-menu>
        </div>
    </div>-->

<div class='container-fluid'>
    
    <div class='row'>
        
        <div class='col-sm-12 body-content'>
            <nav-menu></nav-menu>
            <router-outlet></router-outlet>
        </div>
    </div>
    <div id="footer">
        <div class="app-component navbar-fixed-bottom navbar-inner footer">
            <div class="container">
                <footer>
                    <div class="app-component vcenter_text center-block">
                        <p class="text-center text-muted">
                            <span class="appName" style="font-style:italic">FitnesTrainer</span><span class="appName">App</span> &copy; {{getYear()}}
                            <a href="https://www.fitnes.rv.ua" target="_blank">fitnes.rv.ua</a>
                        </p>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
