
<div class="bg-full hero-home">
    <div class="container cushion-md">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 class="text-center text-white text-stroke">
                    Finding a great personal trainer shouldn't be so hard.
                </h1>
                <h2 class="text-center text-white">
                    With

                    <img class="imgLogo" alt="Fitnes.rv.ua" src="../../assets/images/logoFit2.jpg">
                    it isn't.
                </h2>
                <div class="center-wrapper">
                    <form action="/start-wizard" class="search-wrapper" id="zip_search_form" method="get" role="search">
                        <input name="q" id="search" class="form-control input-lg" placeholder="Enter City or Zip" autofocus="autofocus" required="required" type="text">
                        <button class="btn btn-lg btn-success" type="submit">Search<span class="hidden-xs"> for Your Trainer</span></button>
                    </form>
                </div>
                <div class="top-buffer">
                    <h3 class="text-center text-white text-stroke">Search, compare, and book online with the <span class="text-nowrap">perfect 1-on-1 personal trainer.</span></h3>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
<p>Багато чоловіків, при виборі тренера, покладаються на перші враження. У результаті вони просто вибирають хорошого хлопця з добре 
    накачаними м'язами, не маючи уявлення про те, які реальні цілі потрібно ставити, щоб досягти успіху. </p>
<h2>Навіщо потрібен хороший тренер </h2>
<p>
    Пошук хорошого персонального тренера те саме що пошук хорошого спортзалу - обидва вимагають хороших дослідницьких навичок та вміння приймати правильні рішення.
    У першу чергу, ви повинні чітко розуміти, що ви хочете від особистого тренера.
    

</p>
<p>Григорій Флорес, засновник клубу «Фітнес Солт-Лейк-Сіті», вважає, що ви повинні чітко розуміти, чого хочете досягти, а ваш тренер допоможе вам знайти правильні підходи до вирішення поставлених завдань.
    Якщо особистий тренер не піклується про те, щоб правильно розрахувати навантаження, говорить про те, що можна досягти результату за пару тренувань, то задумайтеся, а чи не відноситься він до вас, як до джерела доходів. Флорес стверджує, що будь-які тренування повинні починатися з консультацій, тренер повинен серйозно підійти до аналізу ваших цілей відповідно до фізичних можливостей та зовнішніх даних спортсмена.
    Не важливо навіть не те, якої статі ваш тренер, а те як він підходить до побудови тренувань і наскільки уважний і відповідальний до вас.</p>











<!--<h1>Hello, world!</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
    <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
    <li><strong>Server-side prerendering</strong>. For faster initial loading and improved SEO, your Angular app is prerendered on the server. The resulting HTML is then transferred to the browser where a client-side copy of the app takes over.</li>
    <li><strong>Webpack dev middleware</strong>. In development mode, there's no need to run the <code>webpack</code> build tool. Your client-side resources are dynamically built on demand. Updates are available as soon as you modify any file.</li>
    <li><strong>Hot module replacement</strong>. In development mode, you don't even need to reload the page after making most changes. Within seconds of saving changes to files, your Angular app will be rebuilt and a new instance injected is into the page.</li>
    <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and the <code>webpack</code> build tool produces minified static CSS and JavaScript files.</li>
</ul>-->
